<div class="row" *ngIf="_project">
    <div class="col s12 m12 l12">
      <div class="card z-depth-0">
        <div class="card-content black-text">
          <div class="row">
            <label class="col s6 m2 l2 flow-text">Client</label>
            <app-customer-selector [selectedManager]="_project.customer_id" (change)="clientChanged($event)" class="col s6 m5 l5"></app-customer-selector>
          </div>
          
          <div class="row">
            <label class="col s6 m2 l2 flow-text">Nume proiect</label>
            <input placeholder="Placeholder" id="first_name" type="text" class="validate col s6 m5 l5" [(ngModel)]="_project.project_title">
          </div>
  
          <div class="row">
            <label class="col s6 m2 l2 flow-text">Manager proiect</label>
            <app-manager-selector [selectedManager]="_project.pm_user_id" (change)="managerChanged($event)" class="col s6 m5 l5"></app-manager-selector>
          </div>
  
          <div class="row">
              <label class="col s6 m2 l2 flow-text">Status proiect</label>
              <app-status-selector [selectedStatus]="_project.project_status_id" (change)="statusChanged($event)" class="col s6 m5 l5"></app-status-selector>
            </div>
  
          <div class="row">
            <label class="col s6 m2 l2 flow-text">Descriere</label>
            <textarea placeholder="Placeholder" id="first_name" type="text" class="validate col s6 m5 l5" [(ngModel)]="_project.description"></textarea>
          </div>
        </div>
  
        <div class="card-action">
          <button class="btn-flat cyan right" (click)="insert()">Insert</button>
        </div>
      </div>
    </div>
  </div>
  